/* header{
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  justify-content: 'center';
  height: '100vh';
  background-color: '#f2f2f2'; 
} */

header {
  background-color: #01934C;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 10px;
  border: 1px solid #21D512;
  border-radius: 4px;
}

nav ul li a {
  text-decoration: none;
  color: #111010;
  font-weight: bold;
  padding: 8px 12px;
  display: block;
}

nav ul li a:hover {
  background-color: #CCFF33;
}

/* .RateAndReviewForm {
  max-width: 300px;
  margin: 0 auto;
} */
footer {
  background-color: #01934C;
  /* Set the same background color as the header */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo img {
  height: 120px;
  border-radius: 0 35px 0 35px;
}

.LoginButton {

  margin-right: 10px;
  border: 1px solid #21D512;
  border-radius: 4px;
  background-color: #01934C;
  color: #111010;
  font-weight: bold;
}

.LoginButton:hover {
  background-color: #CCFF33;

}

.cardButtons {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}
.cardbutton1{
  margin-left: 30px;
  
}

.cards {
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 20px;
}
